*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.front-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
font-size: 45px;
}

.color-orange{
    color:#FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* header style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between
}

nav .menu{
    list-style: none;
    display:flex;
    gap:50px;
    align-items: center;
}
nav .menu a {
    color: #474747;
    text-decoration: none;
    font-size: 20px;
}