*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.front-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
font-size: 45px;
}

.color-orange{
    color:#FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn2{
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* header style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between
}

nav .menu{
    list-style: none;
    display:flex;
    gap:50px;
    align-items: center;
}
nav .menu a {
    color: #474747;
    text-decoration: none;
    font-size: 20px;
}
/* banner section */
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-images img{
    max-width: 585px;
    vertical-align: middle;
}